<div class="py-6 px-20 my-10 flex justify-center bg-white">
  <div class="w-full md:flex">
    <!-- Invitation Button -->
    <a href="/path-to-invitation" style="background-color:green" class="w-full md:w-1/2 h-24 bg-blue-500 text-white font-bold text-lg flex  flex-col items-center justify-center rounded-lg hover:bg-blue-700 transition-colors">
      Friends should be citizening
      <small>Invite them to the next Bar Citizen</small>
    </a>

    <!-- Share on Facebook Button -->
    <a href="https://www.facebook.com/sharer/sharer.php?u=yourwebsiteurl" target="_blank" style="background-color:#3b5998" class="w-full md:w-1/2 h-24 bg-blue-500 text-white font-bold text-lg flex flex-col items-center justify-center rounded-lg hover:bg-blue-700 transition-colors md:ml-2">
      Tell your facebook friends
      <small>Tell them about Bar Citizen</small>
    </a>
  </div>
</div>

<style>
small{
    display:block;
}
</style>