<section class="py-14">
<div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
  <div  class="group block bg-cover overflow-hidden bg-center w-full h-64 p-4 relative rounded-lg" style="background-image: url(<%= asset_url('featured_slides/bar_citizen_slide_1.jpg') %>); height: 72vh;" onclick="location.href='your-link-for-block-1';">
    <div class="absolute top-0 left-0 bg-black bg-opacity-50 text-white font-bold text-2xl p-2">What is Bar Citizen?</div>
    <div class="overlay absolute inset-0 bg-black opacity-0 text-white group-hover:opacity-100 flex items-center justify-center p-4">
      <p>Bar Citizen is a community-driven gathering for fans of Star Citizen and Squadron 42, offering a space to meet, share experiences, and celebrate their shared passion.</p>
    </div>
  </div>
    <div  class="group block bg-cover bg-center w-full h-64 p-4 relative rounded-lg overflow-hidden" style="background-image: url(<%= asset_url('featured_slides/bar_citizen_slide_2.jpg') %>); height: 72vh;" onclick="location.href='your-link-for-block-1';">
        <div class="absolute top-0 left-0 bg-black bg-opacity-50 text-white font-bold text-2xl p-2">Event Ideas</div>
        <div class="overlay absolute inset-0 bg-black text-white opacity-0 group-hover:opacity-100 flex items-center justify-center p-4">
            <p>Explore themed game nights, cosplay contests, and space sim tutorials. Enjoy virtual meetups, trivia, and guest speaker sessions for immersive experiences</p>
        </div>
    </div>
<div  class="group block bg-cover bg-center w-full h-64 p-4 relative rounded-lg overflow-hidden" style="background-image: url(<%= asset_url('featured_slides/bar_citizen_slide_3.jpg') %>); height: 72vh;" onclick="location.href='your-link-for-block-1';">
<div class="absolute top-0 left-0 bg-black bg-opacity-50 text-white font-bold text-2xl p-2">Create New Event</div>
<div class="overlay absolute inset-0 bg-black text-white opacity-0 group-hover:opacity-100 flex items-center justify-center p-4">
  <p>Easily organize your own Bar Citizen event! Choose a theme, set a date, and invite fellow enthusiasts. Perfect for local meetups or virtual gatherings</p>
</div>
</div>
<div class="group block bg-cover bg-center w-full h-64 p-4 relative rounded-lg overflow-hidden" style="background-image: url(<%= asset_url('featured_slides/bar_citizen_slide_4.jpg') %>); height: 72vh;" onclick="location.href='your-link-for-block-1';">
<div class="absolute top-0 left-0 bg-black bg-opacity-50 text-white font-bold text-2xl p-2">Photos</div>
<div class="overlay absolute inset-0 bg-black text-white opacity-0 group-hover:opacity-100 flex items-center justify-center p-4">
  <p>Discover a vibrant gallery of Bar Citizen moments! Browse through event snapshots, cosplay highlights, and memorable meetups, all shared by the community</p>
</div>
</div>
</div>
</section>
<style>
.overlay {
    cursor:pointer;
    transition: opacity 0.3s ease;
}
</style>