<section class="py-14">
<div class="flex flex-col md:flex-row items-center p-4 text-white">
  <!-- Text Area -->
  <div class="w-full md:w-1/2 p-4">
    <h5 class="text-2xl font-bold">Connect with Fellow Space Enthusiasts</h5>  
    <p>
      Whether you're a seasoned explorer of the stars or just starting your journey in the universe, Bar Citizen gatherings are designed to bring space enthusiasts together in a fun and relaxed setting.
    </p>
    <p>
      Join us for six weeks of interstellar socializing, where you can team up with fellow citizens, engage in themed trivia for exclusive prizes, and then drift over to the post-event gathering spot. Here, you'll have the chance to enjoy space-themed bar and board games and mingle with the wider community!
    </p>
    <p>
      Why orbit the same old routines when you can launch into new adventures? Assemble your crew, sign up solo, or form a squadron with your colleagues for an unforgettable space-themed experience. Check out the video for more details on how to join the galactic fun! 🚀🌌
    </p>
  </div>

  <!-- Video Area -->
  <div class="w-full md:w-1/2 relative" style="min-height: 390px;">
    <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/GIojzZ_kIbE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="object-fit: cover;"></iframe>
  </div>
</div>
</section>