<% @pages_sections_ordered = @page&.sections&.order(:section_order)  %>
<% block_image_url = url_for(@pages_sections_ordered.first.blocks.first.image) if @pages_sections_ordered.first.blocks.first.image.attached? %>

<div class="rounded-sm border mx-2 border-gray-300 shadow-md dark:border-gray-700 dark:bg-gray-800"   >

<div class="flex p-10 bg-cover bg-center flex-col justify-end h-72" style="background-image: url(<%= block_image_url %>);">
<h1  class="text-5xl"><%= @page.title %></h1>
</div>

<% @pages_sections_ordered.each do |section| %>
    <% section_type = section.sectionable_type.downcase.gsub('section', '') %>
    <%= render partial: "/section/#{section_type}_section", locals: { section: section.sectionable } %>
  <% end %>


</div>