<p style="color: green"><%= notice %></p>
<div data-controller="photo" data-photo-id="<%= @photo.id %>" class="w-full flex align-center items-center justify-center flex-col">
<%= render @photo %>
</div>

<style>
.event-link{
  text-decoration:underline;
}
#main-vote .vote-button img,
#main-vote .vote-button{
  width:50px;
}
</style>