:root {
--citizen-blue: #2354B1;
--citizen-blue-dk: #020A21;
--citizen-blue-highlight: #7196E7;
--citizen-blue-base: #223C6F;
--citizen-grey-dk: #2C2C2C;
--citizen-grey-md: #383838;
}
.citizen-grey{
    color: #3C3C3B;
}
.citizen-blue-highlight{
  color:  var(--citizen-blue-highlight);
}

.citizen-grey-dk{
  background-color:  var(--citizen-grey-dk);
}

.citizen-grey-md{
  background-color:  var(--citizen-grey-md);
}

svg.citizen-grey{
    fill: #3C3C3B;
}
.text-green-500{
    color: #4caf50;
}
.bg-citizen-blue{
  background-color:  var(--citizen-blue);
}
.bg-citizen-blue-base{
    background-color:  var(--citizen-blue-base);
}
.bg-citizen-blue-dk{
  background-color:  var(--citizen-blue-dk);
}

.bg-citizen-blue-highlight, .event-page .bg-citizen-blue-highlight {
    background-color:  var(--citizen-blue-highlight);
}

footer .social-links a{
    padding: 10px;
}
footer .social-links svg{
    height:40px;
    width:40px;
}

.logo-class{
    top:-59px;
    z-index:9001;
    width: 120px;
}

h1{
    color:white;
}


button[data-maps-target="eventsToggle"], 
button[data-maps-target="regionsToggle"] {
  transition: opacity 0.3s ease;
}

.mobile-image-height {
    height: 90vh;
  }

@media (max-width: 767px) {
    .mobile-image-height {
      height: 50vh;
    }
  }

  h1,h2,h3,h4, .orb-font {
    font-family: 'Orbitron', sans-serif;
  }
  body,p, .fira-font {
    font-family: 'Fira Sans', sans-serif;
  }
  button:hover{
    cursor:pointer;
  }