:root {
--citizen-blue: #223C6F;
--citizen-blue-highlight: #7196E7;
}
.citizen-grey{
    color: #3C3C3B;
}

svg.citizen-grey{
    fill: #3C3C3B;
}

.bg-citizen-blue{
    background-color:  var(--citizen-blue);
}

.bg-citizen-blue-highlight{
    background-color:  var(--citizen-blue-highlight);
}

footer .social-links a{
    padding: 10px;
}
footer .social-links svg{
    height:40px;
    width:40px;
}

.logo-class{
    top:-43px;
    z-index:9001;
    width: 120px;
}

h1{
    color:white;
}

#main_menu a{
    padding: 8px;
    border:4px solid var(--citizen-blue-highlight);
}

button[data-maps-target="eventsToggle"], 
button[data-maps-target="regionsToggle"] {
  transition: opacity 0.3s ease;
}

.mobile-image-height {
    height: 90vh;
  }

@media (max-width: 767px) {
    .mobile-image-height {
      height: 50vh;
    }
  }