@import "flatpickr/dist/flatpickr.min.css";

:root {
--citizen-blue: #2354B1;
--citizen-blue-dk: #020A21;
--citizen-blue-highlight: #7196E7;
--citizen-blue-base: #223C6F;
--citizen-grey-dk: #2C2C2C;
--citizen-grey-md: #383838;
}
.citizen-grey{
    color: #3C3C3B;
}
.citizen-blue-highlight{
  color:  var(--citizen-blue-highlight);
}

.citizen-grey-dk{
  background-color:  var(--citizen-grey-dk);
}

.citizen-grey-md{
  background-color:  var(--citizen-grey-md);
}

svg.citizen-grey{
    fill: #3C3C3B;
}
.text-green-500{
    color: #4caf50;
}
.bg-citizen-blue{
  background-color:  var(--citizen-blue);
}
.bg-citizen-blue-base{
    background-color:  var(--citizen-blue-base);
}
.bg-citizen-blue-dk{
  background-color:  var(--citizen-blue-dk);
}

.bg-citizen-blue-highlight, .event-page .bg-citizen-blue-highlight {
    background-color:  var(--citizen-blue-highlight);
}


#languageSelector{
  z-index:9005;
}
.social-links a{
  height: 26px;
  display: flex;
  width: 26px;    
}

footer .social-links a{
    padding: 10px;
}
footer .social-links svg{
    height:40px;
    width:40px;
}

[aria-label="Map"]{
  background-color: black;
}

.map-toggle-buttons button{
  display:flex;
  min-width:210px;
  justify-content: space-between;
  padding: 8px 15px;
}

.top-header{
  height:30px;
}
.logo-class{
  top: -39px;
  z-index: 9001;
  width: 160px;
  left: -20px;
}

h1{
    color:white;
}


button[data-maps-target="eventsToggle"], 
button[data-maps-target="regionsToggle"] {
  transition: opacity 0.3s ease;
}

.mobile-image-height {
    height: 90vh;
  }

@media (max-width: 767px) {
    .mobile-image-height {
      height: 50vh;
    }
  }

  h1,h2,h3,h4, .orb-font {
    font-family: 'Orbitron', sans-serif;
  }
  body,p, .fira-font {
    font-family: 'Roboto', sans-serif;
  }
  button:hover{
    cursor:pointer;
  }


  /* flatpickr styling */

.flatpickr-calendar.dark-mode  .flatpickr-month,
.flatpickr-calendar.dark-mode .flatpickr-weekday{
  color:white;
}
.flatpickr-calendar.dark-mode .flatpickr-prev-month,
.flatpickr-calendar.dark-mode .flatpickr-next-month{
fill:white;
}

.flatpickr-input,
.flatpickr-calendar.dark-mode,
.flatpickr-calendar.dark-mode  .flatpickr-time input,
.flatpickr-calendar.dark-mode .flatpickr-input,
.flatpickr-calendar.dark-mode .flatpickr-day,
.flatpickr-calendar.dark-mode .flatpickr-am-pm{
  background-color: var(--citizen-blue-base);
color:white;
}


.flatpickr-calendar.dark-mode .flatpickr-monthDropdown-months {
  background-color: #333; /* Dark background */
}


.flatpickr-calendar.dark-mode .flatpickr-day:hover,
.flatpickr-calendar.dark-mode .flatpickr-day:focus,
.flatpickr-calendar.dark-mode .flatpickr-day.today {
  background-color: #777; /* Lighter background for hover, focus, and today */
}

/* More customizations can be added as needed */


