<!-- app/views/event_messages/_message.html.erb -->
<li>
  <% if message.user == event.creator %>
    <span class="text-green-500">@</span>
  <% elsif message.user.manager? %>
    <span class="text-blue-500">+</span>
  <% end %>
  <span class="text-white"><%= message.user.username %>: <%= message.message %></span>
</li>
