<div data-controller="manager" class="space-y-2 px-12 py-8">
<!-- Header in the center at the top -->
<div class="text-center text-white text-4xl font-bold mb-12">Region Management</div>
  <!-- Accordion for Edit Region -->
    <div class="accordion-item bg-gray-800 text-white p-4 rounded">
        <h2 data-action="click->manager#toggle" class="cursor-pointer">Edit Region</h2>
        <div data-manager-target="content" class="hidden">
        <%= render 'accordion_edit' %>
        </div>
    </div>



</div>
